torch>=2
torchvision
tensorboard
wandb
moviepy
imageio-ffmpeg
iopath
pyyaml
numpy
opencv-python-headless
submitit
braceexpand
webdataset
boto3
timm
transformers
peft
decord
pandas
einops
beartype
psutil
h5py
fire
python-box
scikit-image
ftfy
jupyter
